@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  font-family: "Sarabun", sans-serif;
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
@font-face {
  font-family: Franklin Gothic Heavy;
  src: url(/public/assets/fonts/FRAHV.TTF);
}

.font-franklin {
  font-family: Franklin Gothic Heavy;
  font-weight: 800;
}

:root {
  --dark-grey: #1C2430;
  --custom-white:#D4E5FF;
  --custom-blue:#3586FF;
  --off-blue:#245AAB;

  /* font size root */
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 21px;
  --text-xl: 43px;
  --text-xxl: 64px;
}

/* font size */
.text-sm {
  font-size: var(--text-sm) !important;
}

.text-md {
  font-size: var(--text-md) !important;
}

.text-lg {
  font-size: var(--text-lg) !important;
}

.text-xl {
  font-size: var(--text-xl) !important;
}

.text-xxl {
  font-size: var(--text-xxl) !important;
}

/* color */

.dark-grey {
  color: var(--dark-grey);
}

.bg-dark-grey {
  background-color: var(--dark-grey);
}

.custom-white {
  color: var(--custom-white);
}

.custom-blue {
  color: var(--custom-blue);
}

.off-blue {
  color: var(--off-blue);
}

.bg-off-blue {
  background-color: var(--off-blue);
}


.custom-container{
  max-width: 888px !important;
  margin: 0 auto !important;
  width: 100% !important;
}

/* hero */

.logo{
  max-width: 424px;
}

.header-icons{
  width: 24px;
}

.header-gap{
  gap: 32px;
}

.hero-layer{
  max-width: 200px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.hero-description{
  max-width: 502px;
  margin-top: 11px !important;
}

.hero-img{
  max-width: 562px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-content{
  padding-top: 164px;
  padding-bottom: 140px;
  z-index: 1;
}

.conect-wallet-btn{
  background-color: var(--custom-blue);
  padding: 8px 24px;
  border-radius: 9px;
  color: white;
  font-size: var(--text-md);
  margin-top: 43px !important;
  border: 0;
}

/* slider images */
.slider-images{
  max-width: 320px;
  width: 100%;
}

.slide-one{
  animation: slide 5s linear infinite; 
  will-change: transform;
}

.slide-two{
  animation: slide-two 5s linear infinite; 
  will-change: transform;
}

.slider-container{
  overflow: hidden;
  position: relative;
}

@keyframes slide {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-two {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(50%);
  }
}

/* story */
.story{
  padding-top: 48px;
  padding-bottom: 61px;
}

.story-heading{
  margin-bottom: 23px !important;
}

.story-description{
  margin-top: 36px !important;
  margin-bottom: 58px !important;
}

.blue-line{
  width:146px;
  height: 1px;
  background-color: var(--custom-blue);
  margin: 0 auto !important;
  margin-top: 61px !important;
}

/* team */

.team{
  padding-bottom: 64px;
}
.team-member-img{
  width: 100%;
}
.team-heading{
  margin-bottom: 36px !important;
}

.team-member{
  max-width: 202px;
}

.team-container{
  row-gap: 39px !important;
  column-gap: 24px !important;
}

/* footer */
.footer-heading{
  letter-spacing: 11% !important;
}

.icons{
  max-width: 32px;
  width: 100%;
}

.footer{
  padding: 46px 0;
}

.left-layer{
  bottom: 0;
  left: 0;
  max-width: 355px;
  width: 100%;
}

.right-layer{
  bottom: 0;
  right: 0;
  max-width: 564px;
  width: 100%;
}

@media (max-width:1023.98px) {
  .hero{
    flex-direction: column !important;
  }

  .slider-images{
    max-width: 250px;
  }

  .left-layer{
    max-width: 300px;
  }
  
  .right-layer{
    max-width: 400px;
  }

  .team{
    padding-bottom: 48px;
  }

  .story{
    padding-bottom: 48px;
  }

  .blue-line{
    margin-top: 42px !important;
  }

  .team-heading{
    margin-bottom: 30px !important;
  }

  
  .story-description{
    margin-top: 28px !important;
    margin-bottom: 48px !important;
  }

  .hero-img{
    max-width: 400px;
  }

  .logo{
    max-width: 340px;
  }

  .hero-layer{
    display: none !important;
  }

  :root {
  
    /* font size root */
    --text-lg: 18px !important;
    --text-xl: 30px !important;
    --text-xxl: 48px !important;
  }
}

@media (max-width:767.98px) {

  .slider-images{
    max-width: 180px;
  }

  .left-layer{
    max-width: 200px;
  }
  
  .right-layer{
    max-width: 300px;
  }

  .footer{
    padding: 36px 0;
  }

  .team{
    padding-bottom: 40px;
  }

  .story{
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .blue-line{
    margin-top: 36px !important;
  }

  .team-heading{
    margin-bottom: 20px !important;
  }

  .story-heading{
    margin-bottom: 20px !important;
  }

  .story-description{
    margin-top: 24px !important;
    margin-bottom: 30px !important;
  }

  .team-container{
    row-gap: 24px !important;
  }

  .logo{
    max-width: 280px;
  }

  .hero-content{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .conect-wallet-btn{
    margin-top: 30px !important;
  }

  .hero-img{
    display: none;
  }

  :root {
  
    /* font size root */
    --text-xl: 28px !important;
    --text-xxl: 40px !important;
  }
}

@media (max-width:639.98px) {

  .slider-images{
    max-width: 100px;
  }

  .left-layer{
    max-width: 150px;
  }
  
  .right-layer{
    max-width: 200px;
  }

  .footer{
    padding: 24px 0;
  }

  .logo{
    max-width: 200px;
  }

  .hero-content{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .hero-img{
    max-width: 350px;
  }

  .conect-wallet-btn{
    margin-top: 24px !important;
  }

  :root {
  
    /* font size root */
    --text-xl: 24px !important;
    --text-xxl: 36px !important;
  }
}

@media (max-width:460.98px) {
  .team-member{
    max-width: 300px;
  }
}